html, body {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

    background-color: #1B1923;
    width: 317px;
    user-select: none;
}


.header{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 6px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px;
}



.datefield{
    text-align: center;
    border: 0px;

    width: 334px;
    height: 40px;
    background: #444059;
    border-radius: 8px;
    color: #969696;
    
}

.Writehere{
    padding: 10px;
    color: #969696;
    border: 0px;
    width: 317px;
    padding-bottom: 80px;
    
    background: #444059;
    border-radius: 8px;
    height: auto;
    word-break:normal;
    
    
}

textarea{
    resize: vertical;
    color: #4B5667
}

img{
    width: 80px;
    margin: auto;
    
}

h2{
    color: #FEFEFF;
    margin: 5px
}

ul{  
  list-style-type: none;
  padding: 0px;
  
}

button{
    width: auto;
    height: 61px;
    background: #28A9F1;
    border-radius: 8px;
    
    font-family: 'Rubik', sans-serif;
    
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-top: 7px;
   
    align-items: center;
    text-align: center;

    color: #04131C;
    cursor: pointer;
    border: 0px

}

button:hover{
    background-color: #864958;
    color: #FEFEFF
}

li{
font-size: 16px;
border-radius: 5px;
padding: 10px;
width: 317px;
height: auto;


background: #FFFFFF;
word-wrap: break-word;
margin-bottom: 8px;
}

input{
     cursor:text;
}
input[type="date"]::-webkit-calendar-picker-indicator {

    cursor: pointer;
}
h3{
    color: #FFFFFF;
    text-align: center;
    width: 340px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 170px;
    width: 335px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    padding: 10px;
    font-size: 17px;
}

.yesorno{
    
    width: 90px;
    height: 40px;
    
}
